name: pre-commit

on:
  push:
  pull_request:
    branches-ignore:
      - 'temp*'
      - 'tmp*'

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v2.0.2